body {
  margin: 0;
  padding: 0;
  background-color: #403f4d;
  color: #fbfafb;
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name {
  font-size: 28px;
  margin: 0;
}

.description {
  margin-top: 8px;
  margin-bottom: 32px;
}

.container {
  width: 100%;
  max-width: 650px;
  margin: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fbfafb;
}

.tile {
  width: 100%;
  background-color: #4e4d5c;
  margin: 8px;
  border-radius: 12px;
  display: flex;
}

.tile:hover {
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
  transform: scale(1.06);
  background-color: #2e2d33;
  font-size: 22px;
  border-radius: 0;
}

.tile-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 12px;
}

.image-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container img {
  height: 100%;
}

.icon {
  margin-left: 8px;
  width: 2rem;
  height: 2rem;
}

.icon svg path {
  fill: #fbfafb;
}

footer {
  position: fixed;
  bottom: 0;
  color: #fbfafb;
  margin-bottom: 32px;
}
