@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #15202b;
  --secondary-color: #fff;
  --option-color: #2a4057;
}

.dark {
  --main-color: #15202b;
  --secondary-color: #fff;
  --option-color: #2a4057;
}

.light {
  --main-color: #fff;
  --secondary-color: #667;
  --option-color: #ddd;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  font-family: Verdana, sans-serif;
  @apply bg-[var(--main-color)] text-[var(--secondary-color)] m-auto px-8;
}

.icon svg path {
  @apply fill-[var(--secondary-color)];
}
