@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #15202b;
  --grey-color: #2a4057;
  --secondary-color: #fff;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  font-family: Verdana, sans-serif;
  background-color: var(--main-color);
  color: var(--secondary-color);
}

.name {
  font-size: 2rem;
  margin: 0;
}

.description {
  margin-top: 0.5rem;
  margin-bottom: 4rem;
}

.image-container {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.image-container img {
  height: 100%;
}

.icon {
  margin-left: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.icon svg path {
  fill: var(--secondary-color);
}

.scroll-info {
  margin-top: 4rem;
  font-size: 1.5rem;
  text-align: center;
}

.form-container {
  margin-top: 4rem;
  width: 80%;
  text-align: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.6rem;
}

.name-email {
  height: 2rem;
  font-size: 1rem;
}

.message {
  font-size: 1rem;
}

button {
  color: var(--secondary-color);
  background-color: var(--main-color);
  padding: 0.5rem 0.875rem;
  cursor: pointer;
  margin: 1rem;
  border: 1px solid var(--secondary-color);
}

button:hover {
  background-color: var(--grey-color);
}

span {
  font-size: 0.75rem;
}
